<h1>${properties.title}</h1>

<p>Multifield</p>

<div data-sly-list.cardMultifield="${resource.getChildren}">
  <div data-sly-test="${cardMultifield.name == 'cards'}">
     <ul data-sly-list.card="${cardMultifield.getChildren}">
        <p>Cards</p>
        <li data-sly-test.cardtitle="${card.cardtitle}">Title: ${cardtitle}</li>
        <li data-sly-test.cardheadingtype="${card.cardheadingtype}">Heading: ${cardheadingtype}</li>
        <li data-sly-test.cardthumb="${card.cardthumb}">Image: ${cardthumb}</li>
        <li data-sly-test.cardlink="${card.cardlink}">Link: ${cardlink}</li>
        <li data-sly-test.carddescription="${card.carddescription}">Description: ${carddescription}</li>
     </ul>
   </div>
</div>

<sly data-sly-list.cardMultifield="${resource.getChildren}">
  <sly data-sly-test="${cardMultifield.name == 'cards'}">
     <sly data-sly-list.card="${cardMultifield.getChildren}">
        <sly data-sly-test.cardtitle="${card.cardtitle}">
          <sly data-sly-test.cardtitle="${card.cardtitle}">Title: ${cardtitle}</sly>
          <sly data-sly-test.cardheadingtype="${card.cardheadingtype}">Heading: ${cardheadingtype}</sly>
          <sly data-sly-test.cardthumb="${card.cardthumb}">Image: ${cardthumb}</sly>
          <sly data-sly-test.cardlink="${card.cardlink}">Link: ${cardlink}</sly>
          <sly data-sly-test.carddescription="${card.carddescription}">Description: ${carddescription}</sly>
        </sly>
     </sly>
   </sly>
</sly>

<sly data-sly-use.template="templates.html" />

<sly data-sly-list.cardMultifield="${resource.getChildren}">
  <sly data-sly-test="${cardMultifield.name == 'cards'}">
     <sly data-sly-list.card="${cardMultifield.getChildren}">
        <sly data-sly-test="${cardList.index == 0}">
          <sly data-sly-call="${template.card1 @ titleType=card.cardheadingtype, title=card.cardtitle, image=card.cardthumb}"/>
        </sly>

        <sly data-sly-test="${cardList.index == 1}">
          <sly data-sly-call="${template.card2 @ titleType=card.cardheadingtype, title=card.cardtitle, description=card.carddescription}"/>
        </sly>

        <sly data-sly-test="${cardList.index == 2}">
          <sly data-sly-call="${template.card3 @ titleType=card.cardheadingtype, title=card.cardtitle, image=card.cardthumb, link=card.cardlink, description=card.carddescription}"/>
        </sly>
     </sly>
   </sly>
</sly>

<sly data-sly-unwrap data-sly-resource="${@path='par', resourceType='foundation/components/parsys'}"></sly>

<div class="main-nav-author" data-sly-test="${wcmmode.edit}">
  <p class="author-message" style="text-align: center; font-size: 11px; font-weight: 400; color:#777;">Please add Component X in the parsys above</p>
</div>

<p>Helloworld component</p>
<sly data-sly-resource="${ 'childHelloworldComponent' @ resourceType='aemstudio/components/helloworld' }"></sly>

<p>Value map</p>
<ul data-sly-list.entry="${resource.valueMap}">
    <li>${entry}: ${resource.valueMap[entry]}</li>
</ul>

<sly data-sly-test="${wcmmode.edit || wcmmode.preview}">
    <pre>{
      <sly data-sly-list.entry="${resource.valueMap}">
        "${entry}": "${resource.valueMap[entry]}"<sly data-sly-test="${!entryList.last}">,</sly>
      </sly>
    }</pre>
</sly>
