

<div class="container-pro">
    <sly data-sly-test="${wcmmode.edit || wcmmode.preview}">
        <div class="container-parsys" data-columns="${properties.amountOfItems}">

        </div>
    </sly>
</div>

<sly data-sly-use.rangeModel="${'com.adobe.aem.studio.core.models.RangeList' @ max=properties.amountOfItems}" />
<ul data-sly-list.item="${rangeModel.numbers}">
  <li>${item}</li>
</ul>

<sly data-sly-test="${properties.amountOfItems == '4'}">
    <p>true</p>
</sly>
<p>${properties.amountOfItems}</p>
