.dbj-card {
  width: 33%;
  max-width: 251px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: #000000;
  border-radius: 10px;
  background: #ffffff;

  h3 {
    font-weight: bold;
  }

  a {
    padding: 10px;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #999999;
    background: #333333;
  }
}
