<p>${properties.lockGeneration} !!
</p>

<sly data-sly-test.lockGeneration="${properties.lockGeneration}">${properties.lockGeneration} ??
</sly>

<sly data-sly-use.model="com.adobe.aem.studio.core.models.ChatGPTApiModel">
  <div>
    <h1 data-sly-test.title="${properties.title}">${title}</h1>
    <img data-sly-test.bannerImage="${properties.bannerImage}" src="${bannerImage}">
  </div>

  <div data-sly-list.contentMultifield="${resource.getChildren}">
    <div data-sly-test="${contentMultifield.name == 'contentMultifield'}">
      <div data-sly-list.content="${contentMultifield.getChildren}">
        <h2 data-sly-test.subtitle="${content.subtitle}">${subtitle}</h2>
        <p data-sly-test.paragraph="${content.promptResponse}">${paragraph}</p>
      </div>
    </div>
  </div>
</sly>