// Small phones/devices
$screen-xs-min: 320px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Large tablets and desktops
$screen-4k-min: 2560px;

// Smaller devices
@mixin xs {
  @media (min-width: #{$screen-xs-min}) {
    @content;
  }
}

// Small devices
@mixin max-sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin max-md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin max-lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin max-xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// 4K
@mixin max-4k {
  @media (max-width: #{$screen-4k-min}) {
    @content;
  }
}
@mixin min-4k {
  @media (min-width: #{$screen-4k-min}) {
    @content;
  }
}